#!/usr/bin/env bash

installAge() {
  if ! command -v age >/dev/null 2>&1; then
    brew install age
  fi
}

decryptKey() {
  if [ ! -f "${XDG_CONFIG_HOME:-$HOME/.config}/age/chezmoi.txt" ]; then
    mkdir -p "${XDG_CONFIG_HOME:-$HOME/.config}/age"
    age -decrypt --output "${XDG_CONFIG_HOME:-$HOME/.config}/age/chezmoi.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    # Set correct permissions on key file
    if [ ! -f "${XDG_CONFIG_HOME:-$HOME/.config}/age/chezmoi.txt" ]; then
      chmod 600 "${XDG_CONFIG_HOME:-$HOME/.config}/age/chezmoi.txt"
    fi
  fi
}

installAge
decryptKey
