**/.DS_Store
tmux/dot-config/tmux/plugins/

# age private key file
sops/dot-config/sops/age/keys.txt

# ssh files
ssh/dot-ssh/*
!ssh/dot-ssh/*.pub
!ssh/dot-ssh/*.sops

# GnuPG files
gnupg/dot-gnupg/private-keys-v1.d/*
!gnupg/dot-gnupg/private-keys-v1.d/*.sops.key
gnupg/dot-gnupg/pubring.kbx
gnupg/dot-gnupg/trustdb.gpg
