{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Check for Homebrew and install it if not available
if [[ ! $(which brew) ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(homebrew/bin/brew shellenv)"
fi
{{- end -}}