{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
# Update Homebrew recipes
brew update

# Install all our dependencies with bundle (See Brewfile)
brew tap homebrew/bundle
brew bundle --file {{ joinPath .chezmoi.sourceDir "Brewfile" | quote }}

{{ end -}}